In [250]:
import pandas as pd
import numpy as np
import ast

In [251]:
##  converts string list to list
def string_list(string_):
    list_= ast.literal_eval(string_)
    return list_

In [252]:
def values_list(list_dict, target_elem=-1):
    if list_dict == []:
        return list_dict
    else:
        list_ = list(map(lambda x: list(x.values())[target_elem], list_dict))
        return list_

In [253]:
df = pd.read_csv("df_movies.csv")

In [254]:
df.head(3).append(df.tail(2))

,Unnamed: 0,Unnamed: 0.1,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,3314,False,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",NaN,508950.0,NaN,...,2022-07-29,0.0,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Planned,NaN,Untitled Marvel Project (3),False,0.0,0.0
1,1,929,False,/41RgPQeAvDaJ1Msiok96chq2gnd.jpg,NaN,125000000.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,412656.0,tt2076822,...,2021-01-21,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Chaos Walking,False,0.0,0.0
2,2,2006,False,NaN,NaN,0.0,[],NaN,607259.0,tt4733624,...,2021-01-06,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Fatherhood,False,0.0,0.0
6741,4485,4485,False,/7CuXAFUWcOlR5kt07ln1fZDxdHX.jpg,NaN,70000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,73723.0,tt1482459,...,2012-03-01,348840316.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet The Original Force Of Nature,The Lorax,False,6.4,2063.0
6742,4486,4486,False,/8nyR0ffpbTDg9qN6FSscky0s2z.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,425980.0,tt5884230,...,2017-09-14,2400000.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Brad's Status,False,6.1,194.0

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6743 entries, 0 to 6742
Data columns (total 27 columns):
Unnamed: 0               6743 non-null int64
Unnamed: 0.1             6743 non-null int64
adult                    6742 non-null object
backdrop_path            6607 non-null object
belongs_to_collection    1281 non-null object
budget                   6742 non-null float64
genres                   6742 non-null object
homepage                 3118 non-null object
id                       6742 non-null float64
imdb_id                  6716 non-null object
original_language        6742 non-null object
original_title           6742 non-null object
overview                 6740 non-null object
popularity               6742 non-null float64
poster_path              6684 non-null object
production_companies     6742 non-null object
production_countries     6742 non-null object
release_date             6742 non-null object
revenue                  6742 non-null float64
runtime                  6710 non-null float64
spoken_languages         6742 non-null object
status                   6742 non-null object
tagline                  5121 non-null object
title                    6742 non-null object
video                    6742 non-null object
vote_average             6742 non-null float64
vote_count               6742 non-null float64
dtypes: float64(7), int64(2), object(18)
memory usage: 1.4+ MB

In [256]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'adult', 'backdrop_path',
       'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [257]:
df['overview'][11]

"On a post-apocalyptic Earth, a robot, built to protect the life of his dying creator's beloved dog, learns about life, love, friendship, and what it means to be human."

In [258]:
df['poster_path'][11:15]

11                                 NaN
12    /pYo2mEkSptAmW4OY5xduaHlLrh1.jpg
13    /gvYz6xkBvDYmEmcs0LdWN3euxsz.jpg
14                                 NaN
Name: poster_path, dtype: object

In [259]:
df[['tagline', 'video']][11:15]

                                        tagline  video
11                                          NaN  False
12  An ORC-tastic journey of ELVISH proportions  False
13                                          NaN  False
14                                          NaN  False

In [260]:
# dropping columns that not going to be used in this project
df.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'adult', 'backdrop_path','belongs_to_collection','homepage', 'overview', 'poster_path','tagline','video'], inplace= True)

In [261]:
# check that columns are dropped
df.shape

(6743, 17)

In [262]:
# check that columns are dropped
df.columns

Index(['budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [263]:
# Nan values
df.isna().sum()

budget                   1
genres                   1
id                       1
imdb_id                 27
original_language        1
original_title           1
popularity               1
production_companies     1
production_countries     1
release_date             1
revenue                  1
runtime                 33
spoken_languages         1
status                   1
title                    1
vote_average             1
vote_count               1
dtype: int64

In [264]:
# drop NA values
df.dropna(inplace=True)
df.shape

(6689, 17)

In [265]:
df.isna().sum()

budget                  0
genres                  0
id                      0
imdb_id                 0
original_language       0
original_title          0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [266]:
# cleaning the 'genres' column and convert from string object to list of genres
df['genres'] = df['genres'].apply(lambda x: values_list(string_list(x), target_elem=-1))

In [267]:
df.head(1)

,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
1,125000000.0,[Science Fiction],412656.0,tt2076822,en,Chaos Walking,6.227,"[{'id': 80680, 'logo_path': None, 'name': 'Qua...","[{'iso_3166_1': 'US', 'name': 'United States o...",2021-01-21,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,Chaos Walking,0.0,0.0

In [244]:
# count the number of movies with runtime data missing
df.loc[df['runtime']==0].shape

(123, 17)

In [269]:
df['runtime'].agg(['mean','median'])

mean      97.86874
median    98.00000
Name: runtime, dtype: float64

In [270]:
# replace 0 runtime with median value 
df['runtime'] = df['runtime'].replace(to_replace = 0, value = df['runtime'].median())

In [279]:
# cleaning the 'spoken_languages' column and convert from string object to list of spoken_languages
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: values_list(string_list(x), target_elem = 0))

In [308]:
# cleaning the 'production_companies' column and convert from string object to list of production_companies
df['production_companies'] = df['production_companies'].apply(lambda x: values_list(string_list(x), target_elem = 2))

In [323]:
# cleaning the 'production_countries' column and convert from string object to list of production_countries
df['production_countries'] = df['production_countries'].apply(lambda x: values_list(string_list(x), target_elem = 0))

In [329]:
# check the status of the movies
df.status.value_counts()

Released           6582
Post Production      47
In Production        47
Planned              13
Name: status, dtype: int64

In [331]:
# count the number of movies with revenue data missing
df['revenue'].value_counts()

0.0            3281
10000000.0        3
102000000.0       3
21.0              2
2400000.0         2
               ...
47536959.0        1
12000000.0        1
261465.0          1
123384128.0       1
56359980.0        1
Name: revenue, Length: 3391, dtype: int64

In [333]:
# create separted Data Frame for not released movies(they have 0 revenue value)
df_not_released = df.loc[df['status']!= 'Released']

In [339]:
# can drop all 0 revenue values for df
df_released = df.loc[df['revenue']!=0]

In [344]:
# test
df_released.loc[df['revenue']==0].shape

(0, 17)

In [345]:
# creating two csv files for final analysis
df_not_released.to_csv('df_not_released.csv')
df_released.to_csv('df_released.csv')