## Import needed libraries

In [157]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as plt

## Code to get Data

In [3]:
def links(urls, x):
    """
    Function to get website urls
    Takes in a url from any website 
    and a filter by to search for what urls start with
    
    """
    new_list = []
    content = requests.get(urls)

    soup = BeautifulSoup(content.text, 'html.parser')
    href = soup.find_all('a', href = True)
    for link in href:
        if link['href'].startswith(x):
            new_list.append(link['href'])
    
    return new_list

In [ ]:
links_2019 = links('https://www.boxofficemojo.com/year/2019/?ref_=bo_yl_table_2', '/release')

In [ ]:
links_2020 = links('https://www.boxofficemojo.com/year/2020/?ref_=bo_yl_table_1', '/release')

In [ ]:

list_of_movie2019_dicts = []

for link_li in links_2019:
    url = 'https://www.boxofficemojo.com' + link_li

    content = requests.get(url)

    soup = BeautifulSoup(content.text)

    movie_dict = {}

    movie_dict['Name'] = soup.find('h1').text

    data = soup.find_all('span')
    for i, span in enumerate(data):
        if 'Distributor' in span:
            movie_dict['Distributor'] = data[i+1].text.rstrip().split('See')[0]
        if 'Opening' in span:
            movie_dict['Opening'] = data[i+1].text.split("\n")[0]
        if 'Budget' in span:
            movie_dict['Budget'] = data[i+1].text
        if 'Release Date' in span:
            movie_dict['Release Date'] = data[i+1].text.split("\n            -\n            ")
        if 'Running Time' in span:
            movie_dict['Running Time'] = data[i+1].text
        if 'Genres' in span:
            movie_dict['Genres'] = data[i+1].text.split("\n    \n        ")
        if 'Widest Release' in span:
            movie_dict['Widest Release'] = data[i+1].text


    list_of_movie2019_dicts.append(movie_dict)

## Made my Data into dataframe and made new csv files

In [ ]:
df_2020 = pd.DataFrame(list_of_movie_dicts)

In [ ]:
df_2020.to_csv('2020_movies.csv')

In [ ]:
df_2020 = pd.DataFrame(list_of_movie_dicts)

In [ ]:
new_li_2019 = list_of_movie2019_dicts

In [ ]:
df_2019 = pd.DataFrame(new_li_2019)

In [ ]:
df_2019.to_csv('2019_movies.csv')

## Data Cleaning 2020

In [70]:
df_2020 = pd.read_csv('2020_movies.csv')

In [11]:
df_2020.drop(columns = 'Unnamed: 0', inplace = True)

In [17]:
data_cleaning(df_2020, 'Budget', '$')

,Name,Distributor,Opening,Budget,Release Date,Running Time,Genres,Widest Release,Ranks
0,Bad Boys for Life,Sony Pictures Releasing,625041053775,90000000,"['Jan 17, 2020']",2 hr 4 min,"['Action', 'Comedy', 'Crime', 'Thriller']",3775 theaters,1
1,1917,Universal Pictures,57621611,NaN,NaN,1 hr 59 min,"['Drama', 'War']",3987 theaters,2
2,Sonic the Hedgehog,Paramount Pictures,580183484167,85000000,"['Feb 14, 2020']",1 hr 39 min,"['Action', 'Adventure', 'Comedy', 'Family', 'S...",4198 theaters,3
3,Star Wars: Episode IX - The Rise of Skywalker,Walt Disney Studios Motion Pictures,1773838644406,NaN,"['Dec 20, 2019']",2 hr 22 min,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",4406 theaters,4
4,Jumanji: The Next Level,Sony Pictures Releasing,592515434227,125000000,"['Dec 13, 2019']",2 hr 3 min,"['Action', 'Adventure', 'Comedy', 'Fantasy']",4227 theaters,5
...,...,...,...,...,...,...,...,...,...
205,I Do Not Care If We Go Down in History as Barb...,Big World Pictures,20831,NaN,"['Jul 19, 2019']",2 hr 20 min,"['Comedy', 'Drama']",2 theaters,206
206,The Load,Grasshopper Film,40941,NaN,"['Aug 30, 2019']",1 hr 38 min,['Drama'],2 theaters,207
207,Asako I & II,Grasshopper Film,56902,NaN,"['May 17, 2019']",1 hr 59 min,"['Drama', 'Romance']",3 theaters,208
208,Chained for Life,Kino International,74152,NaN,"['Sep 13, 2019', 'Jan 9, 2020']",1 hr 31 min,['Drama'],3 theaters,209
209,Shooting the Mafia,Cohen Media Group,32512,NaN,"['Nov 22, 2019']",1 hr 34 min,"['Biography', 'Documentary']",3 theaters,210

In [25]:
replace_data(df_2020, 'Release Date', 'No relase date', str)

,Name,Distributor,Opening,Budget,Release Date,Running Time,Genres,Widest Release,Ranks
0,Bad Boys for Life,Sony Pictures Releasing,625041053775,90000000,"['Jan 17, 2020']",2 hr 4 min,"['Action', 'Comedy', 'Crime', 'Thriller']",3775 theaters,1
1,1917,Universal Pictures,57621611,0,No relase date,1 hr 59 min,"['Drama', 'War']",3987 theaters,2
2,Sonic the Hedgehog,Paramount Pictures,580183484167,85000000,"['Feb 14, 2020']",1 hr 39 min,"['Action', 'Adventure', 'Comedy', 'Family', 'S...",4198 theaters,3
3,Star Wars: Episode IX - The Rise of Skywalker,Walt Disney Studios Motion Pictures,1773838644406,0,"['Dec 20, 2019']",2 hr 22 min,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",4406 theaters,4
4,Jumanji: The Next Level,Sony Pictures Releasing,592515434227,125000000,"['Dec 13, 2019']",2 hr 3 min,"['Action', 'Adventure', 'Comedy', 'Fantasy']",4227 theaters,5
...,...,...,...,...,...,...,...,...,...
205,I Do Not Care If We Go Down in History as Barb...,Big World Pictures,20831,0,"['Jul 19, 2019']",2 hr 20 min,"['Comedy', 'Drama']",2 theaters,206
206,The Load,Grasshopper Film,40941,0,"['Aug 30, 2019']",1 hr 38 min,['Drama'],2 theaters,207
207,Asako I & II,Grasshopper Film,56902,0,"['May 17, 2019']",1 hr 59 min,"['Drama', 'Romance']",3 theaters,208
208,Chained for Life,Kino International,74152,0,"['Sep 13, 2019', 'Jan 9, 2020']",1 hr 31 min,['Drama'],3 theaters,209
209,Shooting the Mafia,Cohen Media Group,32512,0,"['Nov 22, 2019']",1 hr 34 min,"['Biography', 'Documentary']",3 theaters,210

In [73]:
df_2020.to_csv('2020_movies.csv', index = False)

In [77]:
df_2020 = pd.read_csv('2020_movies.csv')

In [78]:
df_2020

,Name,Distributor,Opening,Budget,Release Date,Running Time,Genres,Widest Release
0,Bad Boys for Life,Sony Pictures Releasing,625041053775,90000000,"['Jan 17, 2020']",2 hr 4 min,"['Action', 'Comedy', 'Crime', 'Thriller']",3775 theaters
1,1917,Universal Pictures,57621611,0,No relase date,1 hr 59 min,"['Drama', 'War']",3987 theaters
2,Sonic the Hedgehog,Paramount Pictures,580183484167,85000000,"['Feb 14, 2020']",1 hr 39 min,"['Action', 'Adventure', 'Comedy', 'Family', 'S...",4198 theaters
3,Star Wars: Episode IX - The Rise of Skywalker,Walt Disney Studios Motion Pictures,1773838644406,0,"['Dec 20, 2019']",2 hr 22 min,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",4406 theaters
4,Jumanji: The Next Level,Sony Pictures Releasing,592515434227,125000000,"['Dec 13, 2019']",2 hr 3 min,"['Action', 'Adventure', 'Comedy', 'Fantasy']",4227 theaters
...,...,...,...,...,...,...,...,...
205,I Do Not Care If We Go Down in History as Barb...,Big World Pictures,20831,0,"['Jul 19, 2019']",2 hr 20 min,"['Comedy', 'Drama']",2 theaters
206,The Load,Grasshopper Film,40941,0,"['Aug 30, 2019']",1 hr 38 min,['Drama'],2 theaters
207,Asako I & II,Grasshopper Film,56902,0,"['May 17, 2019']",1 hr 59 min,"['Drama', 'Romance']",3 theaters
208,Chained for Life,Kino International,74152,0,"['Sep 13, 2019', 'Jan 9, 2020']",1 hr 31 min,['Drama'],3 theaters
209,Shooting the Mafia,Cohen Media Group,32512,0,"['Nov 22, 2019']",1 hr 34 min,"['Biography', 'Documentary']",3 theaters

## Data cleaning functions

In [177]:
# Clean data 
def data_cleaning(x, y, z):
    """
    Takes in a df as x and y as the column name and filter out what you want out with z
    Takes a string like data for example you want to get rid of $ in your data, it would look like '$'
    It returns the data without that $ sign
    Same for the column name it should be a string
    Created by Jesus Christ
    """
    x[y] = x[y].str.replace(z, "")
    
    return x

In [5]:
#Replace Data
def replace_data(x, y, z, t):
    """
    Takes in a df, column name, replacing value, and what type you want back
    """
    x[y] = x[y].fillna(z).astype(t)
    return x

## Data Cleaning 2019

In [167]:
df_2019 = pd.read_csv('2019_movies.csv')

In [184]:
data_cleaning(df_2019, 'Release Date', ",")

,Name,Distributor,Opening,Budget,Release Date,Running Time,Genres,Widest Release
0,Avengers: Endgame,Walt Disney Studios Motion Pictures,3571150074662,356000000,Apr 26 2019 Sep 12 2019,3 hr 1 min,Action,4662 theaters
1,The Lion King,Walt Disney Studios Motion Pictures,1917707594725,260000000,Jul 19 2019 Dec 5 2019,1 hr 58 min,Adventure,4802 theaters
2,Toy Story 4,Walt Disney Studios Motion Pictures,1209080654575,0,Jun 21 2019 Dec 5 2019,1 hr 40 min,Adventure,4575 theaters
3,Frozen II,Walt Disney Studios Motion Pictures,1302633584440,0,Nov 22 2019,1 hr 43 min,Adventure,4440 theaters
4,Captain Marvel,Walt Disney Studios Motion Pictures,1534334234310,0,Mar 8 2019 Jul 4 2019,2 hr 3 min,Action,4310 theaters
...,...,...,...,...,...,...,...,...
903,Henchmen,Entertainment One,5803,0,Dec 7 2018,1 hr 29 min,Animation,3 theaters
904,1945,Menemsha Films,203652,0,Nov 1 2017 Jan 13 2019,1 hr 31 min,Drama,19 theaters
905,Tall Tales from the Magical Garden of Antoon K...,Viva Pictures Distribution,0,0,Jan 11 2019,1 hr 28 min,Adventure,20 theaters
906,Over the Limit,Film Movement,14021,0,Oct 12 2018 Jan 10 2019,1 hr 14 min,Documentary,2 theaters
907,Postcards from London,Strand Releasing,26861,0,Nov 9 2018 Jan 10 2019,1 hr 30 min,Drama,1 theater

In [ ]:
eplace_data(df_2019, 'Release Date', '0 theaters', str)

In [ ]:
df_2019.drop(columns = 'Unnamed: 0', inplace = True)

In [179]:
df_2019.to_csv('2019_movies.csv', index = False)

In [180]:
df_2019 = pd.read_csv('2019_movies.csv')

In [181]:
df_2019

,Name,Distributor,Opening,Budget,Release Date,Running Time,Genres,Widest Release
0,Avengers: Endgame,Walt Disney Studios Motion Pictures,3571150074662,356000000,Apr 26 2019 Sep 12 2019,3 hr 1 min,Action Adventure Drama Sci-Fi,4662 theaters
1,The Lion King,Walt Disney Studios Motion Pictures,1917707594725,260000000,Jul 19 2019 Dec 5 2019,1 hr 58 min,Adventure Animation Drama Family Musical,4802 theaters
2,Toy Story 4,Walt Disney Studios Motion Pictures,1209080654575,0,Jun 21 2019 Dec 5 2019,1 hr 40 min,Adventure Animation Comedy Family Fantasy,4575 theaters
3,Frozen II,Walt Disney Studios Motion Pictures,1302633584440,0,Nov 22 2019,1 hr 43 min,Adventure Animation Comedy Family Fantasy Musical,4440 theaters
4,Captain Marvel,Walt Disney Studios Motion Pictures,1534334234310,0,Mar 8 2019 Jul 4 2019,2 hr 3 min,Action Adventure Sci-Fi,4310 theaters
...,...,...,...,...,...,...,...,...
903,Henchmen,Entertainment One,5803,0,Dec 7 2018,1 hr 29 min,Animation Comedy,3 theaters
904,1945,Menemsha Films,203652,0,Nov 1 2017 Jan 13 2019,1 hr 31 min,Drama,19 theaters
905,Tall Tales from the Magical Garden of Antoon K...,Viva Pictures Distribution,0,0,Jan 11 2019,1 hr 28 min,Adventure Animation Comedy Family,20 theaters
906,Over the Limit,Film Movement,14021,0,Oct 12 2018 Jan 10 2019,1 hr 14 min,Documentary Sport,2 theaters
907,Postcards from London,Strand Releasing,26861,0,Nov 9 2018 Jan 10 2019,1 hr 30 min,Drama,1 theater

## 2019 Plots

In [119]:
df_2019['Opening'].mean()

47602819334.492294

In [182]:
df_2019['Genres'] = df_2019['Genres'].str.split(' ').str[0]

In [ ]:
fig = plt.figure(figsize = (5, 5))

df_2019.plot(kind = 'bar')